<% poems.each do |poem| %>
    <div class="light-bg tag">
      <%= render(
              partial: 'poems/poem',
              locals: {poem: poem}
          ) %>
    </div>
<% end %>
<% if poems.empty? %>
 brak wierszy do wyświetlenia
<% end %>