<h3>Polubione przez Ciebie wiersze</h3>

<% @poems.each do |favourite_poem| %>
    <%= render(
            partial: 'poems/version',
            locals: {favourite_poem: favourite_poem}
        ) %>
<% end %>
<% if @poems.empty? %>
    brak wierszy do wyświetlenia
<% end %>