<% content_for :title do %>O serwisie<% end %>

<p class="centering">
  Piszesz lub czytasz wiersze?
</p>

<p class="centering">
  A spotkałeś się z kiedykolwiek z wierszami tworzonymi przez pary, grupy i całe społeczności?<br>
  Portal <i>Poehub</i> zrzesza ludzi pracujących razem, tworzących wspólne dzieła linijka po linijce.
</p>

<p class="centering">
  Jesteś ciekaw? Dołącz do nas!
</p>
