<p>Witaj <%= @resource.email %>!</p>

<p>Ktoś poprosił o zmianę hasła do Twojego konta. Możesz to zrealizować klikając w poniższy link:</p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeżeli nie chciałeś zmienić Twojego hasła, zignoruj zignoruj tą wiadomość</p>
<p>Możesz być spokojny. Twoje hasło się nie zmieni dopóki nie klikniesz powyższego linku i nie ustawisz nowego hasła.</p>
