<div id="top-header">
  <div class="logo">
    Poe<span class="green-bg">hub</span>
  </div>
  <div>
    <%= render 'layouts/nav_links_for_auth' %>
  </div>
</div>
<div id="menu">
  <%= render 'layouts/navigation_links' %>
</div>
